<h2>Fächer</h2>

<ul ng-if="0 < SubjectListController.subjects.length" class="subjects list-group">
    <li ng-repeat="subject in SubjectListController.subjects" class="list-group-item clearfix subject">
        <a href="/#/subject/{{ subject._id }}">{{ subject.name}}</a>
        <span class="pull-right">
            <button ng-click="SubjectListController.delete(subject)" class="btn btn-xs subject-delete">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </span>
    </li>
</ul>
<div ng-if="SubjectListController.subjects.length === 0" class="alert alert-info" role="alert">Keine Fächer angelegt</div>

<form ng-submit="SubjectListController.create(SubjectListController.newSubjectName)" class="form-inline">
    <div class="input-group">
        <input ng-model="SubjectListController.newSubjectName" placeholder="Neues Fach" class="form-control" >
        <div class="input-group-btn">
            <button class="btn btn-default" id="subject-add" type="submit">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
</form>