<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Fächer</h1>
    </div>
    <ul ng-if="0 < SubjectListController.subjects.length" class="subjects list-group">
        <li ng-repeat="subject in SubjectListController.subjects" class="list-group-item clearfix subject">
            <a href="/#/subject/{{ subject._id}}">{{ subject.name}}</a>
            <span class="pull-right">
                <button ng-click="SubjectListController.delete(subject)" class="btn btn-xs subject-delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </li>
    </ul>
    <div ng-if="SubjectListController.subjects.length === 0"
         class="alert alert-info"
         role="alert"
         style="margin-bottom: 0;">
        Keine Fächer angelegt
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Fach hinzufügen</h2>
    </div>
    <div class="panel-body">
        <form ng-submit="SubjectListController.create(newSubject)">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputName" class="control-label col-xs-3">Name</label>
                    <div class="col-xs-9">
                        <input id="inputName"
                               ng-model="newSubject.name"
                               placeholder="Name"
                               class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription" class="control-label col-xs-3">Beschreibung</label>
                    <div class="col-xs-9">
                        <textarea id="inputDescription"
                                  ng-model="newSubject.description"
                                  placeholder="Beschreibung"
                                  class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <button class="btn btn-primary" id="subject-add" type="submit">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Hinzufügen
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>