<form ng-submit="SubjectShowController.update()">
    <div class="panel panel-default subjectDetailPanel">
        <div class="panel-heading">
            <h1 class="panel-title">
                <input ng-model="SubjectShowController.subject.name"
                       ng-if="SubjectShowController.isEditMode === true"
                       placeholder="Name"
                       class="form-control" />
                <span ng-if="SubjectShowController.isEditMode === false"
                      class="form-control-static">{{SubjectShowController.subject.name}}</span>
                <button class="btn btn-xs pull-right"
                        ng-click="SubjectShowController.edit()"
                        ng-if="SubjectShowController.isEditMode === false">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </h1>
        </div>
        <div class="panel-body">
            <span ng-if="SubjectShowController.isEditMode === false" class="form-control-static pre-wrap"
                >{{SubjectShowController.subject.description || 'Keine Beschreibung'}}</span>
            <div class="form-horizontal" ng-if="SubjectShowController.isEditMode === true">
                <div class="form-group">
                    <label for="inputDescription" class="control-label col-xs-3">Beschreibung</label>
                    <div class="col-xs-9">
                        <textarea id="inputDescription"
                                  ng-model="SubjectShowController.subject.description"
                                  placeholder="Beschreibung"
                                  class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-ok"></span>&nbsp;Speichern
                        </button>
                        <button class="btn" ng-click="SubjectShowController.editAbort()">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Abbrechen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="panel panel-default projectListPanel">
    <div class="panel-heading">
        <h2 class="panel-title">Projekte</h2>
    </div>
    <ul ng-if="0 < SubjectShowController.projects.length" class="projects list-group">
        <li ng-repeat="project in SubjectShowController.projects" class="list-group-item clearfix">
            <a href="/#/subject/{{ SubjectShowController.subject._id }}/project/{{project._id}}">
                <span class="badge">{{ project.participants.length }}</span> {{ project.name}}
            </a>
            <span class="pull-right">
                <button ng-click="SubjectShowController.deleteProject(project)" class="btn btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </li>
    </ul>
    <div ng-if="SubjectShowController.projects.length === 0"
         class="alert alert-info"
         role="alert"
         style="margin-bottom: 0px;">Keine Projekte angelegt</div>
</div>
<div class="panel panel-default addProjectPanel">
    <div class="panel-heading" id="addProjectPanelHeading">
        <h2 class="panel-title">Projekt hinzufügen</h2>
    </div>
    <div class="panel-body" id="addProjectPanelBody">
        <form ng-submit="SubjectShowController.createProject(newProject)">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputName" class="control-label col-xs-3">Name</label>
                    <div class="col-xs-9">
                        <input id="inputName"
                               ng-model="newProject.name"
                               placeholder="Projektname"
                               class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription" class="control-label col-xs-3">Beschreibung</label>
                    <div class="col-xs-9">
                        <textarea id="inputDescription"
                                  ng-model="newProject.description"
                                  placeholder="Beschreibung"
                                  class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <button class="btn btn-primary" id="project-add" type="submit">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Hinzufügen
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<strong>DEBUG:</strong> Ansicht Prof
<a href="#/subjects">Zurück zur Fächerübersicht</a>