<div class="panel panel-default subjectDetailPanel">
    <div class="panel-heading">
        <h1 class="panel-title">
            <span class="form-control-static">{{SubjectVoteController.subject.name}}</span>
        </h1>
    </div>
    <div class="panel-body">
        <span class="form-control-static pre-wrap">{{
            SubjectVoteController.subject.description || 'Keine Beschreibung'
        }}</span>
    </div>
</div>
<div ng-if="SubjectVoteController.saved === true"
     class="alert alert-success"
     role="alert">Projektpriorisierung wurde erfolgreich gespeichert!</div>
<div class="panel panel-default projectListPanel">
    <div class="panel-heading">
        <div class="pull-left"><h2 class="panel-title">Projekte priorisieren</h2></div>
        &nbsp;
        <div class="pull-right">
            <button class="btn btn-xs btn-primary"
                    id="subject-vote"
                    ng-click="SubjectVoteController.update(SubjectVoteController.projects)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Speichern
            </button>
        </div>
    </div>
    <div ui-tree ng-if="0 < SubjectVoteController.projects.length">
        <ol ui-tree-nodes=""
            ng-model="SubjectVoteController.projects"
            class="projects list-group">
            <li ng-repeat="project in SubjectVoteController.projects"
                class="list-group-item clearfix"
                ui-tree-node
                ui-tree-handle>
                <div class="pull-left">
                    <span class="badge">{{ $index + 1 }}</span>
                </div>
                <span class="shorten">{{ project.name }}</span>
            </li>
        </ol>
    </div>
    <div ng-if="SubjectVoteController.projects.length === 0"
         class="alert alert-info"
         role="alert"
         style="margin-bottom: 0px;">Keine Projekte angelegt</div>
</div>
<a href="#/subjects">Zurück zur Fächerübersicht</a>
