language: node_js
node_js:
 - '0.12'

services:
  - mongodb

install:
  - 'npm install -g grunt-cli'
  - 'npm install -g codeclimate-test-reporter'
  - npm install
  - node_modules/protractor/bin/webdriver-manager update

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - nohup bash -c "./node_modules/protractor/bin/webdriver-manager start 2>&1 &"
  - node server.js 2>&1 &

script:
  - npm test
  - grunt test-e2e

after_script:
  - codeclimate-test-reporter < coverage/mergedLcov.info

notifications:
  email:
    on_success: never
    on_failure: always

addons:
  code_climate:
    repo_token: bf6c4de2e366febbe833a148c0d62a59039c9218431a22c05aa1be24f7c42f76