<h2>Projekte für das Fach {{pc.subject.name}}</h2>

<ul ng-if="0 < pc.projects.length" class="projects list-group">
	<li ng-repeat="project in pc.projects" class="list-group-item clearfix">
		<a href="/#/subject/{{ pc.subject._id }}/project/{{project._id}}">{{ project.name}}</a>
        <span class="pull-right">
            <button ng-click="pc.delete(project)" class="btn btn-xs">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
        </span>
	</li>
</ul>
<div ng-if="pc.projects.length === 0" class="alert alert-info" role="alert">Keine Projekte angelegt</div>

<div class="panel panel-default addProjectPanel">
	<div class="panel-heading" id="addProjectPanelHeading">
		<h3 class="panel-title">
			<a role="button"
			   data-toggle="collapse"
			   data-parent=".addProjectPanel"
			   data-target="#addProjectPanelBody"
			   aria-expanded="true"
			   aria-controls="addProjectPanelBody">Projekt Hinzufügen</a>
		</h3>
	</div>
	<div class="panel-collapse collapse" role="tabpanel" aria-labelledby="addProjectPanelHeading" id="addProjectPanelBody">
		<div class="panel-body">

			<form ng-submit="pc.create()">
				<div class="form-group">
					<label>Projektname</label>
					<input ng-model="pc.newProject.name" placeholder="Projektname" class="form-control">
				</div>
				<div class="form-group">
					<label>Beschreibung</label>
				<textarea ng-model="pc.newProject.description" placeholder="Beschreibung"
						  class="form-control"></textarea>
				</div>
				<button class="btn btn-primary" type="submit">
					<span class="glyphicon glyphicon-plus"></span> Hinzufügen
				</button>
			</form>
		</div>
	</div>
</div>

<a href="#/subject/{{pc.subject._id}}">Zurück zum Fach</a>