<h2>Projekte für das Fach {{pc.subject.name}}</h2>

<ul ng-if="0 < pc.projects.length" class="projects list-group">
	<li ng-repeat="project in pc.projects" class="list-group-item clearfix">
		<a href="/#/subject/{{ pc.subject._id }}/project/{{project._id}}">{{ project.name}}</a>
        <span class="pull-right">
            <button ng-click="pc.delete(project)" class="btn btn-xs">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
        </span>
	</li>
</ul>
<div ng-if="pc.projects.length === 0" class="alert alert-info" role="alert">Keine Projekte angelegt</div>

<form ng-submit="pc.create(pc.newProjectName)" class="form-inline">
	<div class="input-group">
		<input ng-model="pc.newProjectName" placeholder="Neues Projekt" class="form-control" >
		<div class="input-group-btn">
			<button class="btn btn-default" type="submit">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
	</div>
</form>