<form ng-submit="ProjectShowController.update()">
    <div class="panel panel-default projectDetailPanel">
        <div class="panel-heading">
            <h1 class="panel-title">
                <input ng-model="ProjectShowController.project.name"
                       ng-if="ProjectShowController.isEditMode === true"
                       placeholder="Name"
                       class="form-control" />
                <span ng-if="ProjectShowController.isEditMode === false"
                      class="form-control-static">{{ProjectShowController.project.name}}</span>
                <button class="btn btn-xs pull-right"
                        ng-click="ProjectShowController.edit()"
                        ng-if="ProjectShowController.isEditMode === false">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </h1>
        </div>
        <div class="panel-body">
            <span ng-if="ProjectShowController.isEditMode === false" class="form-control-static pre-wrap"
            >{{ProjectShowController.project.description || 'Keine Beschreibung'}}</span>
            <div class="form-horizontal" ng-if="ProjectShowController.isEditMode === true">
                <div class="form-group">
                    <label for="inputDescription" class="control-label col-xs-3">Beschreibung</label>
                    <div class="col-xs-9">
                        <textarea id="inputDescription"
                                  ng-model="ProjectShowController.project.description"
                                  placeholder="Beschreibung"
                                  class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3 col-xs-9">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-ok"></span>&nbsp;Speichern
                        </button>
                        <button class="btn" ng-click="ProjectShowController.editAbort()">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;Abbrechen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="panel panel-default projectListPanel">
    <div class="panel-heading">
        <h2 class="panel-title">Teilnehmer</h2>
    </div>
    <ul ng-if="0 < ProjectShowController.participants.length" class="projects list-group">
        <li ng-repeat="participant in ProjectShowController.participants" class="list-group-item clearfix">
            {{ participant.username }} (Priorität: {{ participant.vote }})
            <span class="pull-right">
                <button ng-click="ProjectShowController.deleteParticipant(participant)" class="btn btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </li>
    </ul>
    <div ng-if="ProjectShowController.participants.length === 0"
         class="alert alert-info"
         role="alert"
         style="margin-bottom: 0px">Keine Anmeldungen</div>
</div>

<strong>DEBUG:</strong> Ansicht Student
<a href="#/subject/{{ProjectShowController.subject._id}}">Zurück zur Beschreibung des Fachs</a>