.navbar-brand{
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-brand img{
	height: 30px;
}

.pre-wrap{
	white-space: pre-wrap;
}

.angular-ui-tree-node{
    padding: 10px 15px;
}

.shorten{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 300px;
    display: inline-block;
    white-space: nowrap;
    margin-left: 10px;
}
